<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="urfu-schedule">
    <meta name="author" content="https://plus.google.com/u/0/101946326841894739802">

    <title>Расписание в телефон</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/typeahead.css" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44401454-1', 'study-shedule.ru');
      ga('send', 'pageview');
    </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
{% load i18n %}
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            {% if user.is_authenticated %}
                <li><a href="#">
                    <span class='glyphicon glyphicon-user'></span>
                    <strong>{{ user|capfirst }}</strong> </a></li>
                <li><a href="{% url "logout" %}">
                    <span class='glyphicon glyphicon-log-out'></span>
                    {% trans 'Logout' %}</a></li>
            {% else %}
                <li><a href='{% url "login" %}'>
                    <span class='glyphicon glyphicon-log-in'></span>
                    {% trans 'Login' %}</a></li>
            {% endif %}
        </ul>
        <h3 class="text-muted"><a href='/'>Расписание</a>
            <small>УРФУ</small>
        </h3>
    </div>
    {% block main %}
        <div class="jumbotron">
            <h1>Расписание пар <br>
                <small>В вашем телефоне!</small>
            </h1>

            <p class="lead">Зарегистрируйтесь и вы сможете дежать расписание своих пар всегда под рукой, в своем
                телефоне!</p>

            <p><a class="btn btn-lg btn-success" href="{% url 'login' %}">Зарегистрируйтесь сейчас</a></p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Оповещения</h4>

                <p>Настраиваемые оповещения прямо в телефон, по sms или на email.</p>

            </div>

            <div class="col-lg-6">
                <h4>Всегда свежее расписание</h4>

                <p>Расписание доставляется к вам с сайта университета!</p>
                
            </div>
        </div>

    {% endblock %}

    <div class="footer">
        <p style="float:left;">&copy; <a target="_blank" href='https://plus.google.com/u/0/101946326841894739802'>Катаев Денис</a> 2013</p>
        <p style="float:right;"><a target="_blank" href='http://sacreddeer.herokuapp.com'>Идти или нет?</a></p>
    </div>

</div>

<script src="//code.jquery.com/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/typeahead.js"></script>
{% block js %}
{% endblock %}
</body>
</html>
